<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lookup page</title>
  </head>
  <body>
    <h2>Current beacon readings</h2>
    <table>
      <tr>
        <th>Beacon</th>
        <th>Time</th>
        <th>SSID</th>
        <th>BSSID</th>
        <th>Channel</th>
        <th>RSSI</th>
      </tr>
      {{ range $key, $reading := .Bmap }}
      <tr>
        <td>{{ $key }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {{ range $instance := $reading }}
      <tr>
        <td></td>
        <td>{{ $instance.RecordTime.Format "2006-01-02 15:04:05.000" }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {{ range $i := $instance.Points }}
      <tr>
        <td></td>
        <td></td>
        <td>{{ $i.SSID }}</td>
        <td>{{ $i.BSSID }}</td>
        <td>{{ $i.Channel }}</td>
        <td>{{ $i.RSSI }}</td>
      </tr>
      {{ end }}
      {{ end }}
      {{ end }}
    </table>
  </body>
</html>
