<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lookup page</title>
    <script src="/js/lookup.js"></script>
  </head>
  <body>
    <h2>Current beacon readings</h2>
    <table>
      <tr>
        <th>Beacon</th>
        <th>Time</th>
        <th>SSID</th>
        <th>BSSID</th>
        <th>Channel</th>
        <th>RSSI</th>
        <th>Last Updated</th>
      </tr>
      {{ $inters := .LastReceived }}
      {{ range $key, $reading := .Bmap }}
      <tr class="beacon-row">
        <td>{{ $key }}</td>
        <td><button class="beacon-expand-btn" bkey="{{ $key }}">+</button></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{ index $inters $key }} &nbsp;&nbsp; ago</td>
      </tr>
      {{ range $instance := $reading }}
      <tr hidden="hidden" class="record-row-{{ $key }}">
        <td></td>
        <td>{{ $instance.RecordTime.Format "2006-01-02 15:04:05.000" }}</td>
        <td><button class="record-expand-btn" bkey="{{ $key }}-{{ $instance.RecordTime.Format "2006-01-02-15-04-05-.000" }}">+</button></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {{ range $i := $instance.Points }}
      <tr hidden="hidden" class="record-point-row-{{ $key }} record-point-row-{{ $key }}-{{ $instance.RecordTime.Format "2006-01-02-15-04-05-.000" }}">
        <td></td>
        <td></td>
        <td>{{ $i.SSID }}</td>
        <td>{{ $i.BSSID }}</td>
        <td>{{ $i.Channel }}</td>
        <td>{{ $i.RSSI }}</td>
        <td></td>
      </tr>
      {{ end }}
      {{ end }}
      {{ end }}
    </table>
  </body>
</html>
